doctype
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="/stylesheets/restaurar.css")
	body
		.main
			p Un último paso...
			form(method="post" action="/setPassword")
				input(type="password" placeholder="Tu nueva contraseña" name="password")
				input(type="password" placeholder="Repite tu contraseña")
				input(type="hidden", name="email", value="#{email}")
				input(type="hidden", name="tipo" value="#{tipo}")
				input(type="submit" value="Enviar")