body {
	background-color: #f1f1f1;
	text-align: center;
}
p {
 font-family: lato, open sans, arial;
 font-size: 2em;
}

input[type="password"] {
	padding: 1em;
	padding: 1em;
}

.main {
	margin-top: 5em;
}

input[type="submit"] {
	padding: 1em;
}