body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #bd2e2e;
	color: white;
	text-align: center;
	font-size: 2em;
	font-family: sans-serif;
	font-style: italic;
	text-shadow: 1px 1px 2px #620000;
	box-shadow: 0px 1px 60px #8d3636 inset;
}

a {
  color: #00B7FF;
}